<footer class="footer">
    <div class="footer-container">
        <h1 class="footer-title">КМ и СА</h1>
        <ul class="footer-list">
            <li>
                <a class="footer-link" routerLink="/" routerLinkActive="active"  
                [routerLinkActiveOptions]="{exact:true}">Главная</a>
            </li>
            <li>
                <a class="footer-link" routerLink="/stuff" routerLinkActive="active">Сотрудники</a>
            </li>
            <li>
                <a class="footer-link" routerLink="/education" routerLinkActive="active">Образование</a>
            </li>
            <li>
                <a class="footer-link" routerLink="/contacts" routerLinkActive="active">Контакты</a>
            </li>
        </ul>
        <span class="footer-copy">
            &#169; 2013-2022 Кафедра дифференциальных уравнений и системного анализа БГУ
        </span>
    </div>
</footer>
